@(userForm: Form[controllers.UserController.UserForm], companies: Seq[models.Tables.CompaniesRow])(implicit messages: Messages)

@import helper._

@main("ユーザ作成") {
    @* IDがある場合は更新処理、ない場合は登録処理を呼ぶ*@
    @form(userForm("id").value.map(x =>routes.UserController.update).getOrElse(routes.UserController.create), 'class -> "container", 'role -> "form") {
            <fieldset>
                <div class="form-group">
                    @inputText(userForm("name"), '_label -> "名前")
                </div>
                <div class="form-group">
                    @select(userForm("companyId"), companies.map(x => x.id.toString -> x.name).toSeq, '_label -> "会社", '_default -> "-- 会社名を選択してください --")
                </div>
                @userForm("id").value.map { value =>
                    <input type="hidden" name="id" value="@value" />
                }
                <div>
                    <input type="submit" value="保存" class="btn btn-success">
                </div>
            </fieldset>
    }
}
